html, body {
  height: 100%;
  width: 100%;
	text-align: left;
	padding: 30px;
	font-family: sans-serif;
}

button {
	padding: 5px;
	border-radius: 10px;
	background-color: #ffff;
}

h2 {
	display: table-cell;
	background-color: #ffff;
	padding: 5px;
	border-radius: 5px;
}

#alert {
	display: table-cell;
	background-color: #ffff;
	padding: 5px;
	border-radius: 5px;
}

#prev-color {
	background-color: #ffff;
	padding: 5px;
	width: 200px;
	height: 100px;
	border: 2px solid black;
}